
*.pyc

/ATVSettings.cfg

/Settings.cfg

PlexConnect.log

*.cer

*.key

*.pem

*.der

*.pyproj

*.sln

*.suo

/assets/thumbnails/Plex/images/custom/flow/*.png

/assets/thumbnails/Plex/images/custom/top/*.png

/assets/fanartcache/*.png

assets/fanartcache/tmp.png

assets/fanartcache/tmp.png
