*.pyc

/ATVSettings.cfg

/Settings.cfg

PlexConnect.log

*.cer

*.key

*.pem

*.der

*.pyproj

*.sln

*.suo

/assets/fanartcache/*.png

assets/thumbnails/Plex/images/custom/flow/*.png
PlexConnect_stderr.log
PlexConnect_stdout.log
